<div class="sidebar">
  <ul class="nav flex-column mt-2">

    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="bi bi-speedometer2"></i> Dashboard
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/productos" routerLinkActive="active">
        <i class="bi bi-capsule"></i> Productos
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/proveedores" routerLinkActive="active">
        <i class="bi bi-truck"></i> Proveedores
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/categorias" routerLinkActive="active">
        <i class="bi bi-tags"></i> Categorías
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/ordenes" routerLinkActive="active">
        <i class="bi bi-cart-check"></i> Órdenes de Compra
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/usuarios" routerLinkActive="active">
        <i class="bi bi-people"></i> Usuarios
      </a>
    </li>

  </ul>

  <div class="position-absolute bottom-0 w-100 p-3 text-center">
    <small class="text-white opacity-50">FarmaVida v1.0</small>
  </div>
</div>